.modal {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    background: #461785;
    display: none;
    z-index: 10;
    margin: 0!important;
    padding: 16px;
    width: 90%
}

.modal.open {
    display: block;
}

form {
    padding-top: 16px;
}

label { display: block; }

input {
    width: 100%;
    background: rgb(230, 230, 230);
    border: none;
    margin-bottom: 16px;
    border-radius: 3px;
    padding: 16px;
    font-size: 1.1rem;
}

button {
    background: #960996;
    padding: 10px;
    font-size: 1em;
    color: whitesmoke;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: whitesmoke;
    cursor: pointer;
}

.blocker {
    padding: 
}