* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #2a075d;
  background-image: url('~/assets/img/parking-lot.png');
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  margin-bottom: 25px;
  font-family: 'Rammetto One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-title {
  font-size: 2em;
  margin: 0;
}

.sm {
  font-size: 0.7rem;
}

.md {
  font-size: 0.9rem;
}